:root {
  --serif-fonts:
    "PT Serif", "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  --sans-serif-fonts:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --monospace-fonts:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
}

html {
  box-sizing: border-box;
  text-size-adjust: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 20px;
  font: 18px/1.8 var(--serif-fonts);
  font-weight: normal;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body.mobile-locked {
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 680px) {
  body.mobile-locked {
    height: auto;
    overflow: visible;
  }
}
@media (min-width: 680px) {
  body {
    margin: 0 60px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif-fonts);
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  color: #0f4dd3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 1.56em 0 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0.96em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3;
}
h1 {
  font-size: 31px;
  margin-top: 1.5em;
  margin-bottom: 0;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

ol,
ul {
  padding-left: 24px;
  line-height: 1.6;
}

ol ::marker,
ul ::marker {
  font-size: 0.8em;
}

li {
  margin-top: 1.14em;
}

code {
  font-size: 15px;
  background: #eee;
  padding: 2px 4px;
  border-radius: 3px;
}
pre {
  margin: 0 -20px;
  padding: 20px;
  font-family: var(--monospace-fonts);
  font-size: 15px;
  overflow: auto;
}
pre > code {
  padding: 0;
  font-size: inherit;
  border-radius: 0;
  background: transparent;
}

@media (min-width: 680px) {
  body {
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 2.14em 0 0;
  }

  pre {
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 31px;
  }
  h3 {
    font-size: 20px;
  }
  ol,
  ul {
    padding-left: 30px;
  }
}

.no-transition {
  transition: none !important;
}
